version: 2.1

jobs:
  test-example:
    parameters:
      example-app-name:
        type: string
      path:
        type: string
    machine:
      image: ubuntu-2004:current
      docker_layer_caching: true
    environment:
      BUILDING_BLOCK: digital-registries
      TEST_SUITE: openAPICompliance
      TEST_APP: << parameters.example-app-name >>
      TEST_RESULT_STORAGE_URL: $TEST_RESULT_STORAGE_URL
      TEST_RESULTS_STORAGE_API_KEY: $TEST_RESULTS_STORAGE_API_KEY
      TEST_RESULT_REPORT_PATH: ${CIRCLE_WORKING_DIRECTORY}/test/result/example_result.message
      SOURCE:
    steps:
      - checkout
      - run:
          name: Test execution - Example application << parameters.example-app-name >>
          command: |
            # Execute application test_entrypoint.sh in background.
            chmod u+x <<parameters.path >>/test_entrypoint.sh
            cd <<parameters.path >> && ./test_entrypoint.sh

            # Execute gherkin tests for given application
            cd ${CIRCLE_WORKING_DIRECTORY}/test/
            EXAMPLE_APPLICATION_ABSOLUTE_PATH=<<parameters.path >> docker-compose up --build gherkin-test-report
      - checkout
      - run:
          name: Export test results
          command: |
            # API POST call is executed using exported result file and additional execution information as an input
            if [ -f "$TEST_RESULT_REPORT_PATH" ]; then
                echo "Report file has to be available under ${TEST_RESULT_REPORT_PATH} directory"
                exit 1
            fi

            curl -v -F buildingBlock=${BUILDING_BLOCK}    \
                    -F report=@${TEST_RESULT_REPORT_PATH} \
                    -F testSuite=${TEST_SUITE}            \
                    -F testApp=${TEST_APP}                \
                    -F sourceBranch=${CIRCLE_BRANCH}      \
                    -H "x-api-key: ${TEST_RESULTS_STORAGE_API_KEY}" \
                    ${TEST_RESULT_STORAGE_URL}


workflows:
  test_everything:
    jobs:
      # This part is replaced programatically by test executions for all example applications
      - test-example:
          name: 'example-application-name'
          path-info: 'Path to example application directory with test_entrypoint.sh'
